body{
	background:#232323;
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:right;
	margin: 1.6%;
}

#container{
	margin:0 auto;
	max-width: 600px;
}

h1{
	color:white;

}

#correct{
	color:pink;
}

#tryAgainButton{
	background:pink;
	height:30px;
	text-align: center;
}